.header__logo {
  max-width: 142px;
  min-height: 33px;
  padding-bottom: 41px;
  transition: opacity 0.6s linear;
}

.header__logo:hover {
  opacity: 0.6;
}

@media screen and (max-width: 880px) {
  .header__logo {
    padding-left: 28px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 103px;
    height: 24px;
    padding: 0;
  }
}
